@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(201, 206, 198);
}
#menu{
    text-align: center;

}
.item-menu{
    color: #005ea0;
    font-size: 30px;
    font-family: "Oswaldo", ;
    text-decoration: none;
    border-radius: 10%;
    margin-left: 10px;
    margin-right: 5px;
    transition: .5s;
}
.item-menu:hover{
    background: #009eff;
    border: none;
}
#Loja{
    font-family: "Oswaldo", ;
}
#produtos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    

}
img{
    width: 250px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;

}
.nome-skins{
    text-align: center;
    color: darkblue;
    font-family: "Oswaldo",;
}
.produto{
    width: 300px;
    height: 400px;
    max-height: 250px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
button{
    margin-left: auto;
    margin-right: auto;

    border: none;
    border-radius: 10%;
    cursor: pointer;
    background:linear-gradient(#3f5fa4,#77a1fc);
    color: white;
}
button:hover{
    background: linear-gradient(#77a1fc,#77a1fc);
    transition: .5s;
}